:root {
    --text-main-color: #212121;
    --paragraph-color: #757575;
    --accent-color: #2196F3;
    --page-main-color: #FFFFFF;
    --sec-background-color: #F5F4FA;
    --third-background-color: #2F303A;
    --logo-color: #000000;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --btn-background-color: #188CE8;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
    background-color: var(--page-main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
    cursor: pointer;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Header */

.header .nav-container {
    display: flex;
}

.nav-container .nav-main {
    display: flex;
    align-items: center;
}

/* Nav-main */

.nav-main .logo {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 93px;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    text-align: center;

    color: var(--logo-color);
}

.logo-style {
    color: var(--accent-color);
}

.nav-main .nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav-list .nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-item .nav-link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--text-main-color);
}

.nav-item .nav-link:hover,
.nav-item .nav-link:focus,
.nav-item .nav-link.current {
    color: var(--accent-color);
}

/* Contact list */

.nav-container .contact-list {
    display: flex;
    margin: 0;
    margin-left: auto;
    padding: 0;
    align-items: center;
}

.contact-list .contact-item:not(:last-child) {
    margin-right: 50px;
}

.contact-item .nav-contact {
    display: inline-block;

    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--paragraph-color);
}

.contact-item .nav-contact:hover,
.contact-item .nav-contact:focus {
    color: var(--accent-color);
}

/* Hero */

.hero {
    background-color: var(--third-background-color);
    text-align: center;
}

.hero-title {
    margin: 0 auto 30px auto;
    padding-top: 200px;
    max-width: 700px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--page-main-color);
}

.btn.order {
    display: inline-block;
    margin-bottom: 200px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--page-main-color);
    background-color: var(--accent-color);
}

.btn.order:hover,
.btn.order:focus {
    background-color: var(--btn-background-color);
}

/* Features */

.hidden-tittle {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-main-color)
}

.text {
    line-height: 1.71;
    color: var(--paragraph-color);
}

/* What we do */

.wwd-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--text-main-color);
}

/* Our team */

.our-team {
    background-color: var(--sec-background-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--text-main-color);
}

.team-member {
    background-color: var(--page-main-color);
}

.team-colegue {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-main-color)
}

.team-speciality {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--paragraph-color);
}

/* Projects */

.btn.filter {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
    background-color: var(--sec-background-color)
}

.btn.filter:hover,
.btn.filter:focus {
    color: var(--page-main-color);
    background-color: var(--accent-color);
}

.project-item {
    text-decoration: none;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-main-color);
}

.project-description {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
}

/* Footer */

.footer {
    background-color: var(--third-background-color);
}

.footer .logo {
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--page-main-color);
}

.address-list {
    font-style: normal;
}


.address-link {
    line-height: 1.71;
    text-decoration: none;
    color: var(--page-main-color);
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

.footer-contact {
    line-height: 1.71;
    text-decoration: none;
    color: var(--footer-contact-color);
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}